.login-content {
  position: relative; /* Ensure relative positioning */
  z-index: 1; /* Ensure content is above the backdrop */
}

.login-tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.login-tile h2 {
  margin-bottom: 20px;
}

.login-tile form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-tile label {
  margin-bottom: 10px;
}

.login-tile input {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.login-tile input[type="submit"] {
  cursor: pointer;
  background-color: #bf00bf;
  color: rgb(255, 255, 255);
  border: none;
}

.login-tile input[type="submit"]:hover {
  background-color: #ff57eb;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.login-tile div {
  margin-top: 20px;
}

.login-tile p {
  margin-bottom: 10px;
}

.login-tile a {
  color: #ff27f1;
  text-decoration: none;
  font-weight: bold;
}

.login-tile a:hover {
  text-decoration: underline;
}
