.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px !important;
    background-color: black; 
    border: 2px solid #edafed;
    color: #edafed;
    box-shadow: 0 4px 6px rgba(123, 78, 78, 0.1);
    top: 0;
    z-index: 1000;
    border-radius: 25px;  
    position: fixed !important;
    width:100%;
  }
  
  .navbar-title {
    display: flex;
    align-items: center;
  }

  .navbar-title:hover {
    text-decoration: underline;
    cursor: pointer; /* Optional: change cursor to pointer on hover */
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between; /* Evenly space out the links */
    flex: 1; /* Allow the links to expand and take up available space */
    margin-left: 20px; /* Adjust spacing from the logo */
  }
  
  .nav-link {
    color: #fff;
    position: relative;
}
  
  .nav-link:hover {
    color: #b19cd9; 
    transform: scale(1.1); 
  }
  
  .nav-link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust this value to move the underline position */
    width: 100%;
    height: 2px;
    background-color: #b19cd9; /* Purple color */
    animation: glow 1s infinite alternate; /* Animation for glowing effect */
  }

  /* .navbar-container {
    margin: auto;
    padding: 1em;
} */

.navbar-logo{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-link.active {
  text-decoration: underline; 
  font-weight: bold;/* Underline active link */
}
  
