.home {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    padding: 20px;
    transition: background-image 0.5s ease-in-out; /* Add transition for smooth change */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    /* align-items: center; Center horizontally */
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Take full available height */
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.slick-center .poster-image {
    transform: scale(1);
}

.poster-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.slider-item h3 {
    text-align: center;
    margin-top: 10px;
    color: white;
}