.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
    margin-top:12em
}

.signup-content {
    max-width: 400px;
    width: 100%;
    background: #d8d7d7;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.signup-content h2 {
    margin-bottom: 20px;
    color: #333333;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.signup-form .submit_btn{
    padding: 10px;
    width: fit-content;
    padding: 0.5em 1.5em;
    margin: auto;
    background-color: #266c9d;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    opacity:1
}

.signup-form .submit_btn:hover {
    background-color: #333;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    text-align: left;
    margin-bottom:1em;
}

.error-message p{
    margin:0;
}

.login-redirect {
    margin-top: 20px;
    color: #555;
}

.login-redirect a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-redirect a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .signup-container{
        background: #d8d7d7;
        margin-top:0;
    }
    .signup-content {
        padding: 15px;
        box-shadow: none;

    }
    
    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"],
    .signup-form input[type="submit"] {
        font-size: 14px;
    }

}
