.signup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.signup-content h2 {
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form label {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.signup-form .submit_btn{
    cursor: pointer;
    background-color: #bf00bf;
    color: rgb(255, 255, 255);
    border: none;
}

.signup-form .submit_btn:hover {
    background-color: #ff57eb;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    text-align: left;
    margin-bottom:1em;
}

.error-message p{
    margin:0;
}

.login-redirect {
    margin-top: 20px;
    color: #555;
}
.login-redirect p{
    margin-top: 20px;
    color: white;
}

.login-redirect a {
    color: #ff27f1;
    text-decoration: none;
    font-weight: bold;
}

.login-redirect a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .signup-container{
        background: #d8d7d7;
        margin-top:0;
    }
    .signup-content {
        padding: 15px;
        box-shadow: none;

    }
    
    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"],
    .signup-form input[type="submit"] {
        font-size: 14px;
    }

}
