.home {
    margin-top:70px;
    text-align: center;
    padding: 20px;
}

.slider-item-slider {
    position: relative;
    height: 40vh; /* Make the slider item take the full height of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay to make text readable */
    padding: 20px;
    border-radius: 10px;
}

.rating-stars {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.star {
    margin: 0 5px;
}

.final-button {
    margin:auto;
    height:fit-content;
    width: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:  #bf00bf ;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.final-button:hover {
    background-color:  #ff57eb ;
}
