.my-profile-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
} 
 
 .profile-heading {
    color: #b19cd9;
 }
  .user-details{
    margin:2em;
  }
  .profile-details {
    height: 100vh;
    padding: 20px;
    padding-top: 100px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-details p {
    margin: px 0;
  }
  
  .profile-details strong {
    font-weight: bold;
  }

  .user-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .avatar-selection {
    margin-top: 20px;
    text-align: center;
  }
  
  .avatar-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s ease, transform 0.3s ease;
  }
  
  .avatar:hover {
    border-color: #b19cd9;
    transform: scale(1.1);
  }
  
  .avatar.selected {
    border: 2px solid #b19cd9;
  }

  .avatar-selection{
    color: #ffffff;
  }

  .profile-detailsPage input[type="submit"], #selectAvatar{
    cursor: pointer;
    height: fit-content;
    width:fit-content;
    background-color: #bf00bf !important;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5em;
    border-radius: 5px;
  }
  
  .profile-detailsPage input[type="submit"]:hover, #selectAvatar:hover {
    background-color: #ff57eb !important;
  }
  